@font-face {
    font-family: 'Montserrat';
    src: url(../Index/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Montserrat Italico';
    src: url(../Index/font/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../Index/font/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inter Italico';
    src: url(../Index/font/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

/* Estilos do Overlay */
.overlay {
  position: fixed;
  z-index: 1000;
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(102, 25, 110, 0.8); /* Cor roxa com 80% de transparência */
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1bdf7;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.closebtn:hover {
  filter: brightness(0.8);
}

/* Responsividade para telas menores */
@media screen and (max-height: 450px) {
  .overlay a {
      font-size: 20px;
  }
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
}

.menuzin {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d6a9d9;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.logo {
  width: 115px;
  margin-left: 30px;
}
.logo:hover {
  cursor: pointer;
}


.menu {
  width: 100px;
  height: 70px;
  background-color: transparent;
  margin-right: 40px;
  margin-bottom: 10px;
  border: 0;
  z-index: 70;
}

.icon_menu {
  width: 80px;
}
.icon_menu:hover {
  cursor: pointer;
}

/* Efeito de Hover nos Links */
.letrinhas {
  transition: text-decoration 0.3s ease;
}

.letrinhas:hover {
  text-decoration: underline white;
}

header {
  height: 100px;
}

  .Jogos {
    margin-left: 100px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 100px;

  }

  .filterDiv {
    float: left;
    background-color: transparent;
    color: black;
    width: 600px;
    height: 360px;
    line-height: 100px;
    display: none;
    margin-bottom: 50px;
    display: none;
  }
  .filterDiv.show {
    display: block; /* Exibe as divs com a classe 'show' */
  }
  .hide {
    display: none;
  }
  
  .empty {
    width: 600px;
    height: 360px;
    background-color: transparent;
    display: none; /* Inicialmente escondida */
    text-align: center;
    font-size: 24px;
    color: #555;
  }
  
  
  

  .tabela {
    display: flex;
    flex-direction: row;
    height: 360px;
    margin-right: 20px;
  }
  
  .textin {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .sub {
    font-family: 'Inter Italico';
    margin-bottom: 20px;
  }

  h1 {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 600;
  }

  p {
    font-family: 'Inter';
    font-size: 18px;
  }
  .estrela1, .estrela2, .estrela3, .estrela4, .estrela5, .estrela6, .estrela7, .estrela8, .estrela9, .estrela10, .estrela11,  .estrela12 {
    height: 40px;
    width: 255px;
  }

  .estrela1 {
    margin-top: 5px;
  }

  .estrela2 {
    margin-top: 20px;
  }

  .estrela3 {
    margin-top: 10px;
  }

  .estrela4 {
    margin-top: 60px;
  }

  .estrela5 {
    margin-top: 5px;
  }

  .estrela6 {
    margin-top: 65px;
  }

  .estrela7 {
    margin-top: 10px;
  }

  .estrela8 {
    margin-top: 65px;
  }

  .estrela9 {
    margin-top: 10px;
  }

  .estrela10 {
    margin-top: 5px;
  }

  
  .estrela13{
    margin-top: 20px;
  }

  .show {
    display: block;
  }
  
  .btn {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #d6a9d9;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    color: white;
  }
  
  .btn:hover {
    background-color: #9f6da5;
  }
  
  .btn:active {
    background-color: #66196e;
    color: white;
  }

footer {
    background-color: #d6a9d9;
    height: 450px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.junte {
    font-family: 'Inter';
    font-size: 28px;
    color: white;
    margin-left: 100px;
    margin-bottom: 15px;
    font-weight: 400;
}

.trabalhe {
    font-family: 'Inter';
    font-size: 25px;
    color: white;
    margin-left: 100px;
    font-weight: 500;
}

.icon {
    width: 60px;
    margin-left: 20px;
}

.junto {
    margin-top: 60px;
}

.coisos {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

h3 {
    font-family: 'Inter';
    font-size: 35px;
    color: white;
}

hr {
    border-top: 5px solid white;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contato {
    font-family: 'Inter';
    font-size: 30px;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}

.Categorias {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 10px;
    justify-content: space-evenly;
}

.jogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
}
/* Estilos da div */
#targetDiv {
  opacity: 0; /* Começa invisível */
  transform: translateY(50px); /* Um pequeno deslocamento para criar o efeito de deslizamento */
  transition: opacity 1s ease-out, transform 1s ease-out; /* A transição suave para opacidade e movimento */
  display: flex; /* Assegura que a imagem dentro da div tenha espaço para ser exibida */
  justify-content: center; /* Centraliza a imagem na div */
  align-items: center; /* Centraliza a imagem na div */
}

/* Classe para tornar a div visível */
#targetDiv.visible {
  opacity: 1; /* Torna a div visível */
  transform: translateY(0); /* Retorna à posição original */
}

/* Estilo para a imagem */
.voltar img {
  margin-right: 40px;
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
  object-fit: contain; /* Garante que a imagem não fique distorcida */
  visibility: visible; /* Garante que a imagem seja visível */
}

.voltar:hover img {
  cursor: pointer;
}
