* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;

}
.light {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    margin-left: 40px;
}
.regular {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    line-height: 2;
}
h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.bold {
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    line-height: 1.8;
    letter-spacing: 1px;
}
.medium-light {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    margin-left: 40px;
    font-size: 25px;
}

/* Estilos do Overlay */
.overlay {
    position: fixed;
    z-index: 1000;
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(102, 25, 110, 0.8); /* Cor roxa com 80% de transparência */
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1bdf7;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.closebtn:hover {
    filter: brightness(0.8);
  }

/* Responsividade para telas menores */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menuzin {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d6a9d9;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.logo {
    width: 115px;
    margin-left: 30px;
}
.logo:hover {
    cursor: pointer;
}


.menu {
    width: 100px;
    height: 70px;
    background-color: transparent;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 0;
    z-index: 70;
}

.icon_menu {
    width: 80px;
}
.icon_menu:hover {
    cursor: pointer;
}

/* Efeito de Hover nos Links */
.letrinhas {
    transition: text-decoration 0.3s ease;
}

.letrinhas:hover {
    text-decoration: underline white;
}

header {
    height: 100px;
}

.esquerda {
    width: 25%;
    margin: 15px;
    margin-left: 60px;

}
.direita {
    width: 65%;
    margin: 15px;
    margin-left: 80px;
    margin-right: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.grupo {
    width: 100%;
    height: 700px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: fixed;
    z-index: -1;
    object-position: top;
}
.section1 {
    margin-top: 550px;
    display: flex;
    padding: 50px 0px;
    background-color: white;
}
.section2 {
    background-color: #A78BAA;
    display: flex;
    padding: 50px 0px;
}
.section3 {
    display: flex;
    padding: 50px 0;
    background-color: white;
    height: 700px;
}

.integrante {
    display: flex;
    flex-direction: row;
}
.profile {
    height: 110px;
    width: 110px;
    margin: 35px;
}
.textin {
    width: 700px;
    margin: 25px;
}
.section3 h3{
    margin: 25px 0;
}

.section2 h3 {
    width: 650px;
}
.section2 h1,
.section3 h1 {
    margin-top: 30px;
}

footer {
    background-color: #d6a9d9;
    height: 450px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.junte {
    font-family: 'Inter';
    font-size: 28px;
    color: white;
    margin-left: 100px;
    margin-bottom: 15px;
    font-weight: 400;
}

.trabalhe {
    font-family: 'Inter';
    font-size: 25px;
    color: white;
    margin-left: 100px;
    font-weight: 500;
}

.icon {
    width: 60px;
    margin-left: 20px;
}

.junto {
    margin-top: 60px;
}

.coisos {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.title {
    font-family: 'Inter';
    font-size: 35px;
    color: white;
}

hr {
    border-top: 5px solid white;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.voltar {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: -260px;
    padding-bottom: 15px;
    background-color: white;
}
.voltar img{
    margin-right: 40px;
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}
.voltar:hover img{
    cursor: pointer;
}
.voltar
/* Estilos da div */
#targetDiv {
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Um pequeno deslocamento para criar o efeito de deslizamento */
    transition: opacity 1s ease-out, transform 1s ease-out; /* A transição suave para opacidade e movimento */
}

/* Classe para tornar a div visível */
#targetDiv.visible {
    opacity: 1; /* Torna a div visível */
    transform: translateY(0); /* Retorna à posição original */
}

.contato {
    font-family: 'Inter';
    font-size: 30px;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}
