* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;

}
.light {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}
.regular {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    line-height: 1.8;
}
.bold {
    font-optical-sizing: auto;
    font-weight: 800; 
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    line-height: 1.8;
}
.medium-light {
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    font-size: 25px;
}

/* Estilos do Overlay */
.overlay {
    position: fixed;
    z-index: 1000;
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(102, 25, 110, 0.8); /* Cor roxa com 80% de transparência */
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1bdf7;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.closebtn:hover {
    filter: brightness(0.8);
  }

/* Responsividade para telas menores */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menuzin {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d6a9d9;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.logo {
    width: 115px;
    margin-left: 30px;
}
.logo:hover {
    cursor: pointer;
}


.menu {
    width: 100px;
    height: 70px;
    background-color: transparent;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 0;
    z-index: 70;
}

.icon_menu {
    width: 80px;
}
.icon_menu:hover {
    cursor: pointer;
}

/* Efeito de Hover nos Links */
.letrinhas {
    transition: text-decoration 0.3s ease;
}

.letrinhas:hover {
    text-decoration: underline white;
}

header {
    height: 100px;
}

.section1 {
    height: 260px;
    background-color: #906994;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
h1 {
    margin-left: 100px;
    font-size: 25px;
}
h2 {
    margin-left: 25px;
    text-decoration: underline black;
    color: #4b4b4b;
}
.esquerda h1{
    margin-left: 30px;
}
.esquerda {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 15px;
    margin-left: 60px;
    gap: 50px;
    height: 600px;

}
.direita {
    width: 65%;
    margin: 15px;
    margin-left: 80px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 {
    display: flex;
}
input {
    background-color: #e4d0e4;
    color: #333;
    height: 45px;
    width: 700px;
    padding: 0 15px;
    margin-top: -15px;
}
textarea {
    resize: none;
    background-color: #e4d0e4;
    color: #333;
    height: 350px;
    width: 730px;
    margin-top: -15px;
}
h4 {
    width: 700px;
    font-size: 20px;
    letter-spacing: 5px;
}
.questao {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}
.enviando {
    width: 730px;
    margin-bottom: 35px;
}
.enviar {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 15px 0;
    background-color: #e4d0e4;
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 1.8;
    font-size: 20px;
    cursor: pointer;
}
footer {
        background-color: #d6a9d9;
        height: 450px;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: white;
}
.junte {
    font-size: 28px;
    color: white;
    margin-left: 100px;
    margin-bottom: 15px;
    font-weight: 400;
}

.trabalhe {
    font-size: 25px;
    color: white;
    margin-left: 100px;
    font-weight: 500;
}

.icon {
    width: 60px;
    margin-left: 20px;
}

.junto {
    margin-top: 60px;
}

.coisos {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

h3 {
    font-size: 35px;
    color: white;
}

hr {
    border-top: 5px solid white;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.voltar {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: -40px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
.voltar img{
    margin-right: 40px;
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}
.voltar:hover img{
    cursor: pointer;
}
.voltar
/* Estilos da div */
#targetDiv {
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Um pequeno deslocamento para criar o efeito de deslizamento */
    transition: opacity 1s ease-out, transform 1s ease-out; /* A transição suave para opacidade e movimento */
}

/* Classe para tornar a div visível */
#targetDiv.visible {
    opacity: 1; /* Torna a div visível */
    transform: translateY(0); /* Retorna à posição original */
}

.contato {
    font-size: 30px;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}

